*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", serif;
}

.header {
  border: 1px solid black;
  background-color: darkgray;
  height: 60px;
  margin: 5px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-body {
  background-color: darkgray;
  height: 550px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  padding: 1.5rem;
}

.cal-display {
  background-color: darkgreen;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 110px;
}

.last-display {
  flex-grow: 1;
  align-self: flex-start;
}

.current-display {
  font-size: 30px;
  height: 50px;
}

.cal-keys {
  background-color: rgb(90, 90, 90);
  gap: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.key-row {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.key-row > * {
  font-weight: 600;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-key {
  flex-basis: 25%;
  background-color: rgb(96, 119, 89);
}

.zero-key {
  background-color: rgb(96, 119, 89);
  flex-basis: 49%;
}

.last-row-key {
  background-color: rgb(96, 119, 89);
  flex-grow: 1;
}

.number,
.point {
  background-color: rgb(123, 123, 103);
}

.clear {
  background-color: rgb(123, 107, 103);
}
